<section class="todoapp">
	<header class="header">
		<h1>todos</h1>
		<form id="new-form">
			<input type="text" class="new-todo" placeholder="What will you do today?" />
		</form>
	</header>

	<section class="main">
		<ul class="todo-list">

		</ul>
	</section>
</section>

<section class="author">
	Double-click any task to highlight it.
	<br />
	A <%= link_to "todo-mvc", "http://todomvc.com" %> application, built by <%= link_to "Amy Henning", "http://github.com/amyhenning" %>
</section>